h1,
p {
  font-family: Lato;
}

.interesting {
  padding-left: 30px;
  font-size: 12px;
}

ul.pics li {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
  font-style: italic;
}
img {
  width: 150px;
  height: 150px;
}
form{
  border: 2px solid black;
  background-color: gray;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  text-align: center;
}
label{
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: left;
}
input{
  border: 1px solid rgb(77, 69, 69);
  border-radius: 2px;
  background-color: rgb(228, 215, 215);
}
